body,ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header section{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.4em;
    align-items: center;
 
}
.marca {
   padding-left: 20px;
  
}
h1{
    text-align: center;
}
img{
    width: 100%;
}


